.services {
  background-image: linear-gradient(180deg, #FEFAFF 0%, #FDF2FF 100%);
}

.service-content {
  margin-bottom: 3em;
}
/* @media screen and (max-width: 800px) {
  .service-content {
    width: 100%;
  }
}

@media screen and (min-width: 1800px) {
  .service-content {
    width: 100%;
  }
} */