.footer {
  padding-top: 5em;
  padding-bottom: 3em;
  background-image: linear-gradient(174deg, #9064FF 13%, #C85FFF 100%, #C85FFF 100%);
  color: #FFF;
}
.footer-content {
  margin: 0 2em 2em;
  font-size: 1.2em;
}

.footer-title {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.footer-subtitle {
  font-size: 1em;
  color: #EFEFEF;
  margin-bottom: 0.5em;
}

.footer .phone-num {
  font-weight: 500;
  color: #fff;
}
.footer .contact {
  text-align: center;
}

.contact {
  margin-top: 2em;
}

.contact-detail {
  text-align: left;
}